.center {
  margin: auto;
  width: 95%;
  /* border: 3px solid green; */
  
}

.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

/* Flash messages */
.message {
    padding: 1rem;

    background: #eff8ff;
    color: #2779bd;

    border-color: #6cb2eb;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
}
.message.hidden {
    display: none;
}
.message.success {
    background: #e3fcec;
    color: #1f9d55;
    border-color: #51d88a;
}
.message.error {
    background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
}


/* Error */
.error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.error-message{
    color: red;
    font-size: 15px;
    opacity: .75;
}

.middle {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  color: white;
  text-align: center;
}

